body {
    font-family: 'Raleway', sans-serif;
    margin: 40px;
}

header {
    display: flex;
    flex-direction:row;
    
}

section a {
    text-decoration: none;
    color: black;
}

/* Menu */

nav {
    display: flex;
    flex-direction: row;
}


nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav li {
    margin-right: 10px;
}

nav a {
    Color: #0065FC;
    text-decoration: none;
}

nav a:hover {
    color: black;
    padding: 9px;
}

nav p{
    margin-top: 400px;
}


/* Barre de recherche */

#searchbox {
    border: solid 1px #F2F2F2;
    width: 292px;
    border-radius: 10px;
}

#searchbox input[type="search"] {
        border: none;
        background-color: #FFFFFF;
       
    }
.icosearch {
    padding: 10px;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#SearchSubmit {
    border: none;
    padding: 10px;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Filtre */

#filtreBox {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
}
.icoFiltre {
    display : flex;
    align-items : center;
    background-color: #DEEBFF;
    text-align: center;
    padding: 10px;
    width: 25px;
    height:  25px;
    border-radius: 30px;
    margin-right: 10px;
}
.textFilttre {
    text-align: center;
    display: flex;
    align-items: center;
    border: solid 1px #F2F2F2;
    border-radius: 30px;
    display: flex;
    padding-right: 10px;
    margin-right: 20px;
}

    .textFilttre:hover {
        border: 3px dotted #F2F2F2;
        color: #0065FC;
        background: #fff;
    }

.filtreTitle {
margin-right : 20px;
}


/* Info */

.Info {
    display: flex;
    font-size: 13px;
    color: #6d6d6d;
}

.InfoIco {
    display:flex;
    align-items:center;
    border: solid 1px #F2F2F2;
    padding: 10px;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    margin-right: 20px;

}

main {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

 main h2 {
     margin-left:20px;
    }
/* Hébergement */

.boxherbegement {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 10px;
}

.Hebergement {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.HebergementBox {
    padding: 5px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 250px;
    height: auto;
    font-size: 13px;
    line-height: 8px;
    box-shadow: 5px 5px 20px grey;
    margin: 15px;
}

.HebergementImg {
    
    width: 250px;
    height: auto;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.Tbold{
    font-weight: bold;
}
.BoxContent{
    margin-left: 10px
}
.iconBox{
    display:flex;
    flex-direction:row;
    margin-bottom:5px;
}
.InfoHerbleu {
    color: #0065FC;
}
.InfoHergrey {
    color: #848484;
}
.Aff{

    font-weight: bold;
    margin-left:15px;
}
/* Populaire */
.boxpopulaires {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 10px;
}
.titleP{
    display:flex;
    flex-direction : row;
    justify-content: space-between;
}
#Populaire {
    margin-left: 40px;
    display:flex;
    flex-direction:column;
    background-color: #F2F2F2;
    width: 30%;
    padding: 10px;
    height: 680px;
    border-radius: 15px;
   
}
.PopulaireBox {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 3px;
    margin: 20px;
    height: 150px;
    font-size: 13px;
    box-shadow: 5px 5px 20px grey;
    line-height: 8px;
}
.PopulaireImg {
    width: 160px;
    height: auto;
    margin-right : 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.contentP{
    display:flex;
    flex-direction : column;

}

/* Activité */

.ActiviteBox {
    display: flex;
    flex-direction: row;
}

.ABigBox {
 
    background-color: #ffffff;
    border-radius: 15px;
    width: 300px;
    height: 450px;
    font-size: 15px;
    line-height: 8px;
    box-shadow: 5px 5px 20px grey;
    margin-right: 50px;
}
.SmallB {
    display: flex;
    flex-direction: column;
}
.ASmallBox {
    background-color: #ffffff;
    border-radius: 15px;
    width: 300px;
    height: auto;
    font-size: 15px;
    line-height: 8px;
    box-shadow: 5px 5px 20px grey;
    margin-bottom: 50px;
    margin-right: 50px;
}

.BigImg {
    width: 300px;
    height: 400px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.SmallImg {
    width: 300px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.ActiviteText {
    padding-top : 10px;
    font-weight: bold;
    padding-left: 10px;
}

/*Footer*/

footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    line-height: 8px;
}

.footerSpace{
    margin-right: 200px
}

@media all and (max-width: 1024px) {

    body{
        margin:0px;
       
    }

    section {
        display: block;
        width: auto;
    }

    section h2 {
     font-size: 20px;
        }

    #filtreBox {
        display: block;
        width: auto;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    .Hebergement {
        display: flex;
        flex-direction: column;
    }
    .HebergementImg {
        width: 350px;
        height:150px;
    }

    .HebergementBox {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 350px;
    }

    #Populaire {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        width: auto;
    }


    .ActiviteBox {
        display: flex;
        flex-direction: column;
        
    }

    .ABigBox {
        background-color: #ffffff;
        border-radius: 15px;
        width: 300px;
        height: auto;
        margin-bottom: 30px;
    }

    .ASmallBox {
        margin-bottom: 30px;
      
    }

    .BigImg {
        width: 300px;
        height: 150px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }


    footer{
        line-height: 15px;
        margin-right: 10px;
    }

    .footerSpace {
        margin-right: 50px
    }

}

